.page {
  width: 210mm;
  min-height: 297mm;
  padding: 5mm 10mm 5mm 20mm;
  background: white;
  color: black;
}

@page {
  size: A4 portrait;
}
@page :first {
  margin-top: 0;
}

@media print {
  .page {
    width: 210mm;
    padding: 5mm 10mm 5mm 20mm;
    min-height: initial;
    background: initial;
  }
}
