@import url('https://fonts.googleapis.com/css2?family=Gupter:wght@400;500;700&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.page {
  // display: table;
  // page-break-after: left;
  width: 210mm;
  min-height: 297mm;
  padding: 5mm 10mm 5mm 20mm;
  background: white;
  color: black;
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  ul,
  ol {
    color: black;
    font-family: 'Tinos', serif;
    font-weight: 400;
    font-style: normal;
  }
  .rems-potochn-chapter {
    font-weight: 900;
    font-size: 0.8rem;
    margin-top: 1rem;
  }
  .rems-potochn-paragraph {
    text-indent: 2rem;
    font-size: 0.77rem;
  }
  .rems-potochn-italic {
    text-indent: 2rem;
    font-style: italic;
    text-decoration: underline;
    font-size: 0.77rem;
  }
  .jkh-budjet-chapter {
    font-weight: 900;
    font-size: 1rem;
    margin-top: 1rem;
  }
  .jkh-budjet-paragraph {
    font-size: 1rem;
  }
}

@page {
  size: A4 portrait;
  // @bottom-center {
  //   counter-increment: page;
  //   // counter-reset: page 1;
  //   content: 'page ' counter(page);
  // }
}
@page :first {
  margin-top: 0;
}

@media print {
  .page {
    // display: table;
    // page-break-after: left;
    width: 210mm;
    padding: 5mm 10mm 5mm 20mm;
    min-height: initial;
    background: initial;
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    ul,
    ol {
      color: black;
      font-family: 'Tinos', serif;
      font-weight: 400;
      font-style: normal;
    }
  }
  .rems-potochn-chapter {
    font-weight: 900;
    font-size: 0.8rem;
    margin-top: 1rem;
  }
  .rems-potochn-paragraph {
    text-indent: 2rem;
    font-size: 0.77rem;
  }
  .rems-potochn-italic {
    text-indent: 2rem;
    font-style: italic;
    text-decoration: underline;
    font-size: 0.77rem;
  }
  // #pageFooter {
  //   display: table-footer-group;
  // }

  // #pageFooter:after {
  //   color: black;
  //   counter-increment: page;
  //   content: counter(page);
  // }
}
