@import url('https://fonts.googleapis.com/css2?family=Gupter:wght@400;500;700&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.page {
  width: 210mm;
  min-height: 297mm;
  padding: 5mm 10mm 5mm 20mm;
  background-color: white;
  font-family: 'Tinos', serif;
  font-weight: 400;
  font-style: normal;

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  ul,
  ol,
  button {
    color: black;
    font-family: 'Tinos', serif;
    font-weight: 400;
    font-style: normal;
  }
  strong {
    color: red;
  }

  .base-contr-chapter {
    font-weight: 900;
    font-size: 0.95rem;
    margin-top: 0.75rem;
  }
  .base-contr-paragraph {
    text-indent: 2rem;
    font-size: 0.95rem;
  }
  .base-contr-text {
    font-size: 0.95rem;
  }

  .rems-potochn-chapter {
    font-weight: 900;
    font-size: 0.8rem;
    margin-top: 1rem;
  }
  .rems-potochn-paragraph {
    text-indent: 2rem;
    font-size: 0.77rem;
  }
  .rems-potochn-text {
    font-size: 0.77rem;
  }
  .rems-potochn-italic {
    text-indent: 2rem;
    font-style: italic;
    text-decoration: underline;
    font-size: 0.77rem;
  }

  .rems-budjet-chapter {
    font-weight: 900;
    font-size: 1rem;
    margin-top: 1rem;
  }
  .rems-budjet-paragraph {
    text-indent: 2rem;
    font-size: 1rem;
  }
  .rems-budjet-text {
    font-size: 1rem;
  }

  .jkh-budjet-chapter {
    font-weight: 900;
    font-size: 1rem;
    margin-top: 1rem;
  }
  .jkh-budjet-paragraph {
    text-indent: 2rem;
    font-size: 1rem;
  }
  .jkh-budjet-text {
    font-size: 1rem;
  }

  .agro-contract-chapter {
    font-weight: 900;
    font-size: 1rem;
    margin-top: 1rem;
  }
  .agro-contract-paragraph {
    text-indent: 2rem;
    font-size: 1rem;
  }
  .agro-contract-text {
    font-size: 1rem;
  }
  .jkh-proectn-avt-chapter {
    font-weight: 900;
    font-size: 1rem;
    margin-top: 1rem;
  }
  .jkh-proectn-avt-paragraph {
    text-indent: 2rem;
    font-size: 1rem;
  }
  .jkh-proectn-avt-text {
    font-size: 1rem;
  }
  .jkh-proectn-avt-akt-text {
    font-size: 1rem;
  }
  .jkh-proectn-avt-kosht-text {
    font-size: 1rem;
  }
  tbody.table-main {
    td,
    th {
      border: 1px solid gray;
    }
  }
}

@page {
  size: A4 portrait;
}
@page :first {
  margin-top: 0;
}

@media print {
  .page {
    width: 210mm;
    padding: 5mm 10mm 5mm 20mm;
    min-height: 297mm;
    background: white;
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    ul,
    ol,
    button {
      color: black;
      font-family: 'Tinos', serif;
      font-weight: 400;
      font-style: normal;
    }
    strong {
      color: black;
    }
    .base-contr-chapter {
      font-weight: 900;
      font-size: 0.95rem;
      margin-top: 0.75rem;
    }
    .base-contr-paragraph {
      text-indent: 2rem;
      font-size: 0.95rem;
    }
    .base-contr-text {
      font-size: 0.95rem;
    }

    .rems-potochn-chapter {
      font-weight: 900;
      font-size: 0.8rem;
      margin-top: 1rem;
    }
    .rems-potochn-paragraph {
      text-indent: 2rem;
      font-size: 0.77rem;
    }
    .rems-potochn-text {
      font-size: 0.77rem;
    }
    .rems-potochn-italic {
      text-indent: 2rem;
      font-style: italic;
      text-decoration: underline;
      font-size: 0.77rem;
    }
    .rems-budjet-chapter {
      font-weight: 900;
      font-size: 0.8rem;
      margin-top: 1rem;
    }
    .rems-budjet-paragraph {
      text-indent: 2rem;
      font-size: 0.77rem;
    }
    .rems-budjet-text {
      font-size: 0.77rem;
    }

    .jkh-budjet-chapter {
      font-weight: 900;
      font-size: 1rem;
      margin-top: 1rem;
    }
    .jkh-budjet-paragraph {
      text-indent: 2rem;
      font-size: 1rem;
    }
    .jkh-budjet-text {
      font-size: 1rem;
    }

    .agro-contract-chapter {
      font-weight: 900;
      font-size: 1rem;
    }
    .agro-contract-paragraph {
      text-indent: 2rem;
      font-size: 1rem;
    }
    .agro-contract-text {
      font-size: 1rem;
    }
    .jkh-proectn-avt-chapter {
      font-weight: 900;
      font-size: 1rem;
      margin-top: 0.25rem;
    }
    .jkh-proectn-avt-paragraph {
      text-indent: 2rem;
      font-size: 1rem;
    }
    .jkh-proectn-avt-text {
      font-size: 1rem;
    }
    .jkh-proectn-avt-akt-text {
      font-size: 1rem;
    }
    .jkh-proectn-avt-kosht-text {
      font-size: 1rem;
    }
    table.table-main {
      td,
      th {
        border: 1px solid black;
      }
    }
  }
}
