.page {
  width: 210mm;
  min-height: 297mm;
  padding: 10mm;
  background: white;
  color: black;
}

@page {
  size: A4 portrait;
}
@page :first {
  margin-top: 0;
}

@media print {
  .page {
    width: initial;
    padding-top: 5mm;
    min-height: initial;
    background: initial;
  }
}
